
<div class="shopping-cart-form table-responsive">
  <form action="#" method="post">
    <table class="table text-center custom-table" style="margin-top:10vw">
      <thead>
        <tr>
          <th class="product-thumbnail">&nbsp;</th>
          <th class="product-name">Product</th>
          <th class="product-price">Price</th>
          <th class="product-quantity">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tbody-item" *ngFor="let item of orderItems">
          <td class="product-thumbnail">
            <div class="thumb">
              <img [src]="item.productImage" alt="{{item.productName}}" width="68" height="84">
            </div>
          </td>
          <td class="product-name">
            <a class="title">{{item.productName}}</a>
          </td>
          <td class="product-price">
            <span class="price">{{item.productprice}}</span>
          </td>
          <td class="product-quantity">
            <div class="pro-qty">
              <input type="text" class="quantity" title="Quantity" value="{{item.quantity}}" disabled>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

